body{
  background-color: #337def;
}

.card-subtitle {
  font-size: 0.77rem;
  font-style: italic;
}

p.card-text {
  font-size: 0.9rem;
}
.card {
  width: 280px;
}
.card-title {
  font-size: 1.04rem;
  font-weight: 500;
}
.card-body {
  padding: 0.2rem;
}

/* restore top border for list items */
.list-group-item + .list-group-item {
  border-top-width: 1px;
}

/* Remove focus from bootstrap buttons */
.btn:focus {
  outline: none;
  box-shadow: none;
}
/* Start Bootstrap Chevron Rotation */
i.active {
  transform: rotate(-180deg);
  transition: transform 0.3s;
}
.bi {
  transition: transform 0.3s;
}
/* END Bootstrap Chevron Rotation */

.task-footer {
  font-size: 0.76rem;
}

.task-footer p {
  margin-bottom: 0;
}

.task-status {
  padding: 0.1rem 1rem;
  border-radius: 5px;
  height: 18px;
  color: rgba(255, 255, 255, 1);
  background: #198754;
  font-weight: 750;
  font-size: 0.6rem;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.3);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  width: 95px;
}

.list-group{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.list-group-item{
  margin:15px;
}

h1{
  text-align: center;
  color: yellow;
}

.list-group{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.list-group-item{
  margin: 15px;
}

