/* Code I added */
body {
  background: url(/resources/Backgroundpic2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  /* width: 100%; */
  margin: 0 auto;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  box-sizing: border-box;
}

.card-subtitle {
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
  font-size: 0.77rem;
  font-style: italic;
}

.card-text {
  margin-bottom: 0;
  font-size: 0.9rem;
}

.main-buttons {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: 25%;
  margin-bottom: 20px;
}

.navbar-nav {
  font-weight: 600;
  font-size: 1.2rem;
  color: white;
}

.card {
  word-wrap: break-word;
  background-clip: border-box;
  border-radius: 0.25rem;
  position: relative;
  display: block;
  padding: 0.5rem 1rem;
  color: #212529;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  min-width: 270px;
  width: auto;
  /* width: 20vw; need to delete this once grid is done for main page */
}

.card-title {
  font-size: 1.04rem;
  font-weight: 500;
}

.card-body {
  display: flex;
  flex-direction: column;
  padding: 0.2rem;
}

/* Code I added */
.container-card {
  display: flex;
}

.button {
  margin: 20px;
}

/* restore top border for list items */
.list-group-item + .list-group-item {
  border-top-width: 1px;
}

/* Remove focus from bootstrap buttons */
.btn:focus {
  outline: none;
  box-shadow: none;
}
/* Start Bootstrap Chevron Rotation */
i.active {
  transform: rotate(-180deg);
  transition: transform 0.3s;
}
.bi {
  transition: transform 0.3s;
}
/* END Bootstrap Chevron Rotation */

.task-footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.76rem;
  align-items: center;
}

.task-footer p {
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 5px;
}

.task-status {
  padding: 0.1rem 1rem;
  border-radius: 5px;
  height: 18px;
  color: rgba(255, 255, 255, 1);
  background: #198754;
  font-weight: 750;
  font-style: normal;
  font-size: 0.6rem;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.3);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  width: 95px;
}

h1 {
  text-align: center;
  color: yellow;
}

.task-list {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  justify-content: center;
}
.btn-edit {
  padding: 0.05rem 0.5rem;
  font-size: 0.675rem;
  border-radius: 0.2rem;
}

/* Anything below 479px hide description and user then set margin for footer */
@media only screen and (max-width: 479px) {
  .card-text {
    display: none;
  }
  .card-subtitle {
    display: none;
  }
  .task-footer {
    margin-top: 10px;
  }
  i {
    display: none;
  }
}

@media only screen and (max-width: 530px) {
  .card-text {
    margin-top: auto;
    margin-bottom: 5px;
  }
}

@media only screen and (min-width: 531px) {
  .card-text {
    margin-top: auto;
    margin-bottom: 5px;
  }
}

@media only screen and (min-width: 580px) {
  .task-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .card {
    min-width: 275px;
  }
  .card-text {
    margin-bottom: 5px;
  }
  .task-footer {
    margin-top: auto;
  }
}

@media only screen and (min-width: 855px) {
  .task-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1283px) {
  .task-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (min-width: 1705px) {
  .task-list {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media only screen and (min-width: 2128px) {
  .task-list {
    grid-template-columns: repeat(5, 1fr);
    max-width: fit-content;
  }
  .card {
    max-width: 413px;
  }
}
